{% extends "kentparker/base.html"%}
{% load static %}
{% block content %}


    <div class="row">
    <!-- pitch detail -->
    <div class="col s8">

	
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">{{cur_article.title}}</span>

              {%if can_edit%}
              <form method="post" action="{% url "reedit_article" cur_article.id %}">
              <p>
              <input id="article_content" name="article_content" type="text" class="materialize-textarea" value = "{{cur_article.content}}">
              </p>
              {%else%}
              <p>{{cur_article.content}}</p>
              {%endif%}
          </div>

          <div class="card-action align-center">
              <a>Visited: {{cur_article.visited_times}}</a>
              <a>{{cur_article.pub_time}}</a>
            </div>

            <div class="card-action">
              <p class="white-text">By
								{%for eachauthor in cur_article.author.all%}
									<a href="/profile/{{eachauthor}}">{{eachauthor.first_name}} {{eachauthor.last_name}}@{{eachauthor}}  </a>
								{%endfor%}
              </p>
          </div>

            {%if can_edit%}
            <div class="card-action">
              <input type="submit" name ="publish_btn" class="btn btn-primary" value="Publish">
              <input type="submit" name ="save_btn" class="btn btn-primary" value="Save">
                {% csrf_token %}
                </form>
            </div>
          {%endif%}

          <div class="card-action">
            <p class="white-text">Media Outlet Responsiveness: {{cur_article.rating_responsiveness}}</p>
          </div>

          {%if can_rate%}
          <div class="card-action">
             <form action="{% url "rate_article" cur_article.id request.user.username %}" method="post">
             <p class="range-field"><a>Responsiveness</a>
             <input type="range" name="rating_responsiveness" min="0" max="100" />
             </p>
             <button type="submit"  class='btn'>Rate</button>
            {% csrf_token %}
        </form>
          </div>
          {%endif%}

    </div>
</div>

    <!-- Article related Pitches -->
      <div class="col s4">

            <hr style="height:3px;border:none;color:#333;background-color:#333;" />
            <h4>Related Pitches</h4>

            <div class="card blue-grey darken-1">
                {%for pitch in related_pitches%}
                    <div class="card-content white-text">
                    <span class="card-title">
                        <a href="{% url "pitch_detail" pitch.id %}">{{pitch.title}}</a>
                    </span>
                    </div>

                    <div class="card-action">
                    <a href="{% url "profile" pitch.author %}">By {{pitch.author.first_name}} {{pitch.author.last_name}}</a>
                    </div>
                {%endfor%}
            </div>

          <hr style="height:3px;border:none;color:#333;background-color:#333;" />
    </div>
    </div>

{% endblock %}