{% extends "kentparker/base.html"%}
{% load static %}
{% block content %}


    <div class="row">
    <!-- pitch detail -->
    <div class="col s8">

	<form method="post" action="{% url "reedit_article" cur_article.id %}">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">{{cur_article.title}}</span>
              {%if can_edit == True%}
              <p>
              <input id="article_content" name="article_content" type="text" class="materialize-textarea" value = "{{cur_article.content}}">
              </p>
              {%else%}
              <p>{{cur_article.content}}</p>
              {%endif%}
                <br>
                Visited Count: {{cur_article.visited_times}}
          </div>

          <div class="card-action">
              <a>{{cur_article.pub_time}}</a>
              <a href="{% url "profile" cur_article.author %}">By {{cur_article.author}}</a>
          </div>
    {%if can_edit == True%}
    	<input type="submit" name ="publish_btn" class="btn btn-primary" value="Publish">
		<input type="submit" name ="save_btn" class="btn btn-primary" value="Save">
	{%endif%}
	{% csrf_token %}
    </form>

    </div>
</div>

    <!-- Article related Pitches -->
      <div class="col s4">

            <hr style="height:3px;border:none;color:#333;background-color:#333;" />
            <h4>Related Pitches</h4>
          {%for pitch in related_pitches.all%}
            <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                    <span class="card-title">
                        <a href="{% url "pitch_detail" pitch.id %}">{{pitch.title}}</a>
                    </span>
                </div>

                <div class="card-action">
                <a href="{% url "profile" pitch.author %}">By {{pitch.author.first_name}} {{pitch.author.last_name}}</a>
                </div>
            </div>
          {%endfor%}
          <hr style="height:3px;border:none;color:#333;background-color:#333;" />
    </div>
    </div>

{% endblock %}