{% extends "kentparker/base.html"%}
{%load static%}
{% block content %}

<div class="container">
{% if wrong_old_password %}
<div class="alert alert-danger">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <strong>Error!</strong> Wrong old password!
      </div>
{% endif %}

    {% if form.errors %}
    {% for field in form %}
    {% for error in field.errors %}
    <div class="alert alert-danger">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <strong>Error!</strong> {{error}}
    </div>
    {% endfor %}
    {% endfor %}

    {% for error in form.non_field_errors %}
    <div class="alert alert-danger">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <strong>Error!</strong> {{error}}
    </div>
    {% endfor %}
    {% endif %}

  <form action="{% url 'change_password' name %}" method="post">
  {% for field in change_password_form %}
  <div class="form-group">
    {{field}}
  </div>
  {% endfor %}
    <input class='btn' type="submit" value="Save">
    {% csrf_token %}
  </form>
</div>

{% endblock %}