<!DOCTYPE html>
<html lang="en">
<head>
  <title>Kent-Parker</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Arimo|Bungee+Hairline|Coiny|Droid+Sans|Droid+Serif|Itim|Lato|Libre+Franklin|Merriweather|Montserrat|Noto+Sans|Open+Sans|Open+Sans+Condensed:300|Oswald|PT+Sans|Prociono|Raleway|Roboto|Roboto+Condensed|Roboto+Slab|Shrikhand|Slabo+27px|Source+Sans+Pro|Trirong|Ubuntu" rel="stylesheet">
    {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static "/css/main.css" %}">
  <script>
	$(document).on('ready', function() {
    	$("#input-4").fileinput({showCaption: false});
	});
	$(function() {

  // We can attach the `fileselect` event to all file inputs on the page
  $(document).on('change', ':file', function() {
    var input = $(this),
        numFiles = input.get(0).files ? input.get(0).files.length : 1,
        label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
    input.trigger('fileselect', [numFiles, label]);
  });

  // We can watch for our custom `fileselect` event like this
  $(document).ready( function() {
      $(':file').on('fileselect', function(event, numFiles, label) {

          var input = $(this).parents('.input-group').find(':text'),
              log = numFiles > 1 ? numFiles + ' files selected' : label;

          if( input.length ) {
              input.val(log);
          } else {
              if( log ) alert(log);
          }

      });
  });
  
	});

		$(document).ready(function(){
		  var afterId = 0;
		  var newId=1;
		  $("#btnAddOption").click(function(){
			afterId++;
			newId=afterId+1;
			addSpot(this,afterId,newId);
		  });
		});

	// Add new Journalists
	function addSpot(obj,afterId,newId)
	{  console.log("afterId: " + afterId);
		console.log("newId: " + newId);
		$('#vote_'+afterId).after(
		'<tr id="vote_'+newId+'" class="spot"><th>' + '</th>' +
		'<td><input type="text" id="txtInput_'+
	 afterId+'" class="input-text" value="Put the name of Journalists here" size="40" name="journalist"/></td>'+
		'</tr>');
	//     $(":text[id^='txtInput_']").val("Put the name of Media Outlet here");

	};

  </script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">KENT PARKER</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="{% url "contacts" %}">Contacts</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url "logout" %}"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
  
<div class="container">
    <div class="row profile">
		<div class="col-md-3">
			<div class="profile-sidebar">
				<!-- SIDEBAR USERPIC -->
				<div class="profile-userpic">
				{% if request.user.picture %}
				<img src="{% url "get_photo" request.user %}" width="200px" class="img-avatar">
				{% else %}
				<img src="{% static "img/profile.png" %}" width="200px" class="img-avatar">
				{% endif %}
				</div>
				<!-- END SIDEBAR USERPIC -->
				<!-- SIDEBAR USER TITLE -->
				<div class="profile-usertitle">
					<div class="profile-usertitle-name">
					{{request.user.first_name}}
					{{request.user.last_name}}
					</div>
					<div class="profile-usertitle-job">
						CMU
					</div>
				</div>
				<!-- END SIDEBAR USER TITLE -->
				<!-- SIDEBAR BUTTONS -->
				<div class="profile-userbuttons">
					<button type="button" class="btn btn-warning btn-sm" aria-label="Left Align" style="padding: 2px 3px;">
					  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
					  <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align" style="padding: 2px 3px;">
					  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
					  <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align" style="padding: 2px 3px;">
					  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
					  <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align" style="padding: 2px 3px;">
					  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
					  <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align" style="padding: 2px 3px;">
					  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
					</button>
				</div>
				<!-- END SIDEBAR BUTTONS -->

				<!-- SIDEBAR MENU -->
				<div class="profile-usermenu">
					<ul class="nav">
						<li>
							<a href="/">
							<i class="glyphicon glyphicon-home"></i>
							Related News </a>
						</li>
						<li>
							<a href="{% url "manage_pitch" %}">
							<i class="glyphicon glyphicon-ok"></i>
							Manage Pitches </a>
						</li>
						<li class="active">
							<a href="{% url "create_pitch" %}">
							<i class="glyphicon glyphicon-pencil"></i>
							New Pitch </a>
						</li>
					</ul>
				</div>
				<!-- END MENU -->
			</div>
		</div>
		<div class="col-md-9">
            <div class="profile-content">
			   	<div class="panel panel-primary">
      				<div class="panel-heading">New Pitch</div>
      				<form method="post" action="{% url "create_pitch" %}">
      				<div class="panel-body">
      					<div class="">
      						<h4><b>Subject</h4>
      						<input type="text" class="text-line" name="title" />
      						<h4><b>Pitch Description<h4>
      						<div class="form-group">
      							<div class="dropdown">
      								<br>
  									<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Text Font
  									<span class="caret"></span></button>
  									<ul class="dropdown-menu">
									    <li><a href="#">HTML</a></li>
									    <li><a href="#">CSS</a></li>
									    <li><a href="#">JavaScript</a></li>
  									</ul>
								</div>
								<br>
  								<textarea name="content" class="form-control" rows="5" id="comment" style="font-family: 'Shrikhand', cursive;"></textarea>
							</div>
      						<div class="dropdown">
								{# <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">CATEGORY #}
								{# <span class="caret"></span></button> #}
								{# <ul class="dropdown-menu"> #}
								<select multiple="multiple" name="tags-list">
								{%for tag in tags %}
								{# <li><a href="#" class="small" data-value="{{tag}}" tabIndex="-1"><input type="checkbox"/>{{tag}}</a></li> #}
								<option value="{{tag.id}}">{{tag}}</option>
								{% endfor%}
								</select>
								{# </ul> #}
							</div>
              <br>
            <input id="new_tag" name="new_tag" placeholder="Enter a tag">
							<br>
							Upload Attachment
      						<div class="input-group">
                				<label class="input-group-btn">
                    				<span class="btn btn-primary">
                        				Browse… <input type="file" style="display: none;" multiple="">
                    				</span>
                				</label>
                				<input type="text" class="form-control" readonly="">

            				</div>
            				<br>
            				<div class="input-group">
                				<label class="input-group-btn">
                    				<span class="btn btn-primary">
                        				Browse… <input type="file" style="display: none;" multiple="">
                    				</span>
                				</label>
                				<input type="text" class="form-control" readonly="">
            				</div>
            				<br>
            				<div class="checkbox">
  								<label style="font-size:20px"><input type="checkbox" name="Embargo" value="">Embargo</label>
							</div>
							
							<div class="checkbox">
  								<label style="font-size:20px"><input type="checkbox" name="Scoop" value="">Scoop</label>
							</div>

							<h4><b>Journalists</h4>
							 <table cellpadding=0 cellspacing=0 width="100%" class="table_form">
    							<tr id="vote_1">
     							 <td><input type="button" id="btnAddOption" name="btnAddOption" class="btn btn-primary" value="Add Journalists"/></td>
    							</tr>
  							</table>


							<div class="center">
								<input type="submit" name ="publish_btn" class="btn btn-primary" value="Publish">
								<input type="submit" name ="save_btn" class="btn btn-success" value="Save">
								<input type="submit" name="cancel_btn" class="btn btn-danger" value="Cancel">
							</div>
            			</div>
            				{% csrf_token %}
            			</form>
      				</div>
   				 </div>
            </div>
		</div>
	</div>
</div>
<center>
</center>
<br>
<br>

</body>
</html>

