{% extends "kentparker/base.html"%}
{% load static %}

{% block content %}


<script>
	$(document).on('ready', function() {
		$("#input-4").fileinput({showCaption: false});
	});
	$(function() {

  // We can attach the `fileselect` event to all file inputs on the page
  $(document).on('change', ':file', function() {
  	var input = $(this),
  	numFiles = input.get(0).files ? input.get(0).files.length : 1,
  	label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
  	input.trigger('fileselect', [numFiles, label]);
  });

  // We can watch for our custom `fileselect` event like this
  $(document).ready( function() {

  	$('select').material_select();

  	$(':file').on('fileselect', function(event, numFiles, label) {

  		var input = $(this).parents('.input-group').find(':text'),
  		log = numFiles > 1 ? numFiles + ' files selected' : label;

  		if( input.length ) {
  			input.val(log);
  		} else {
  			if( log ) alert(log);
  		}

  	});
  });

});

	$(document).ready(function(){
		var afterId = 0;
		var newId=1;
		$("#btnAddOption").click(function(){
			afterId++;
			newId=afterId+1;
			addSpot(this,afterId,newId);
		});
	});

	// Add new newsmaker
	function addSpot(obj,afterId,newId)
	{  console.log("afterId: " + afterId);
	console.log("newId: " + newId);
	$('#vote_'+afterId).after(
		'<tr id="vote_'+newId+'" class="spot"><th>' + '</th>' +
		'<td><input type="text" id="txtInput_'+
		afterId+'" class="input-text" value="Put the name of newsmaker here" size="40" name="journalist"/></td>'+
		'</tr>');
	//     $(":text[id^='txtInput_']").val("Put the name of Media Outlet here");
	};

	$(document).ready(function(){
		var afterId = 0;
		var newId=1;
		$("#btnAddOptionJournalist").click(function(){
			afterId++;
			newId=afterId+1;
			addSpotJournalist(this,afterId,newId);
		});
	});

	// Add new Journalists
	function addSpotJournalist(obj,afterId,newId)
	{  console.log("afterId: " + afterId);
	console.log("newId: " + newId);
	$('#vote2_'+afterId).after(
		'<tr id="vote2_'+newId+'" class="spot"><th>' + '</th>' +
		'<td><input type="text" id="txtInput_'+
		afterId+'" class="input-text" value="Put the name of Journalists here" size="40" name="journalist"/></td>'+
		'</tr>');
	//     $(":text[id^='txtInput_']").val("Put the name of Media Outlet here");
	};

</script>




  <!--
</head>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">KENT PARKER</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="{% url "contacts" %}">Contacts</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url "logout" %}"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
  
<div class="container">
    <div class="row profile">
		<div class="col-md-3">
			<div class="profile-sidebar">
				<!-- SIDEBAR USERPIC
				<div class="profile-userpic">
					{% if request.user.picture %}
					<img src="{% url "get_photo" request.user %}" width="200px" class="img-responsive">
					{% else %}
					<img src="{% static "img/profile.png" %}" width="200px" class="img-responsive">
					{% endif %}
				</div>
				<!-- END SIDEBAR USERPIC -->
				<!-- SIDEBAR USER TITLE
				<div class="profile-usertitle">
					<div class="profile-usertitle-name">
					{{request.user.first_name}}
					{{request.user.last_name}}
					</div>
					<div class="profile-usertitle-job">
						CMU
					</div>
				</div>
				<!-- END SIDEBAR USER TITLE
				<!-- SIDEBAR BUTTONS
				<div class="profile-userbuttons">
					<button type="button" class="btn btn-warning btn-sm" aria-label="Left Align" style="padding: 2px 3px;">
					  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
					  <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align" style="padding: 2px 3px;">
					  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
					  <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align" style="padding: 2px 3px;">
					  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
					  <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align" style="padding: 2px 3px;">
					  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
					  <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align" style="padding: 2px 3px;">
					  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
					</button>
				</div>
				<!-- END SIDEBAR BUTTONS -->

				<!-- SIDEBAR MENU
				<div class="profile-usermenu">
					<ul class="nav">
						<li>
							<a href="/">
							<i class="glyphicon glyphicon-home"></i>
							Favourite Tags</a>
						</li>
						<li>
							<a href="/bookmarked_pitch">
							<i class="glyphicon glyphicon-user"></i>
							Bookmarked Pitches </a>
						</li>
						<li>
							<a href="/embargo_pitch">
							<i class="glyphicon glyphicon-book"></i>
							Embargoed Pitches </a>
						</li>
						<li>
							<a href="{% url "journalist_Articles" %}">
							<i class="glyphicon glyphicon-file"></i>
							My Articles </a>
						</li>
						<li class="active">
							<a href="{% url "create_article" %}">
							<i class="glyphicon glyphicon-flag"></i>
							Publish Article </a>
						</li>
						<li>
							<!-- Button trigger modal 
							<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
							 	Launch demo modal
							</button>
														<a href="#" data-toggle="modal" data-target="#myModal">
							<i class="glyphicon glyphicon-star"></i>
							My preferences </a>
							<!-- Modal
							<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
								<div class="modal-dialog" role="document">
							    <div class="modal-content">
							    	<div class="modal-header">
							        	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							        	<h4 class="modal-title" id="myModalLabel">Modal title</h4>
							      	</div>
							    	<div class="modal-body">
							    		Select your preferences below:
							    		<br>
							    		<br>
									    <ul class="dropdown" id = "upreferences">
		  									<li>
		  										<input type="checkbox" value = "1">&nbsp;Business
		  										<input type="checkbox" value = "2">&nbsp;Entertainment
		  									</li>
		  									<li>
		  										<input type="checkbox" value = "3">&nbsp;National
		  										<input type="checkbox" value = "4">&nbsp;Politics
		  									</li>
		  									<li>
		  										<input type="checkbox" value = "5">&nbsp;World
		  										<input type="checkbox" value = "6">&nbsp;IT
		  									</li>
		  									<li>
		  										<input type="checkbox" value = "7">&nbsp;Health
		  									</li>
	  									</ul>
							    	</div>
							    	<div class="modal-footer">
							       		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							        	<button type="button" class="btn btn-primary" onclick =updateTextArea() >Save changes</button>
							    	</div>
							    	</div>
							  	</div>
							</div>
						</li>
					</ul>
				</div>
				<!-- END MENU
			</div>
		</div>-->
	<div class="row">

	<div class="col s3">

		<div class="card">
			<div class="card-image">
				{% if request.user.picture %}
				<img src="{% url "get_photo" request.user %}" width="200px" class="circle responsive-img">
				{% else %}
				<img src="{% static "img/profile.png" %}" width="200px" class="circle responsive-img">
				{% endif %}
			</div>
			<div class="card-content blue-grey-text">
				{{request.user.first_name}}
				{{request.user.last_name}}
			</div>
			<div class="card-action">
				<a class="blue-grey-text" href="/">Favourite Pitches</a>
			</div>
			<div class="card-action">
				<a class="blue-grey-text" href="/bookmarked_pitch">Bookmarked Pitches</a>
			</div>
			<div class="card-action">
				<a class="blue-grey-text" href="/embargo_pitch">Embargoed Pitches </a>
			</div>
			<div class="card-action">
				<a class="blue-grey-text" href="{% url "journalist_Articles" %}">Journalist Articles</a>
			</div>

			<div class="card-action blue-grey">
				<a class="white-text" href="{% url "create_article" %}">Publish Article</a>
			</div>
		</div>
	</div>
		<div class="col s9">

      		<form method="post" action="{% url "create_article" %}">
				<div class="input-field">
					<input id="title" name="title" type="text" class="validate">
					<label for="title">Subject</label>
				</div>
				<div class="input-field">
					<input id="content" name="content" type="text" class="validate">
					<label for="title">Article Url</label>
				</div>
				<div class="input-field">
					<input id="pitch_url" name="pitch_url" type="text" class="validate">
					<label for="title">Pitch Url</label>
				</div>



			<table cellpadding=0 cellspacing=0 width="100%" class="table_form">
				<tr id="vote_1">
					<td><input type="button" id="btnAddOption" name="btnAddOption" class="btn btn-primary" value="Add Newsmakers"/></td>
				</tr>
			</table>
			<table cellpadding=0 cellspacing=0 width="100%" class="table_form">
				<tr id="vote2_1">
					<td><input type="button" id="btnAddOptionJournalist" name="btnAddOptionJournalist" class="btn btn-primary" value="Add Journalists"/></td>
				</tr>
			</table>


			<button class="btn waves-effect waves-light" type="submit" name="publish_btn">Publish
			 <i class="material-icons right">send</i>
			 </button>
			 <button class="btn waves-effect waves-light" type="submit" name="cancel_btn">Cancel</button>
			{% csrf_token %}
            </form>
      	</div>
   	 </div>


{% endblock %}


