{% extends "kentparker/base.html"%}
{% load static %}

{% block content %}

<script>
	$(document).on('ready', function() {
		$("#input-4").fileinput({showCaption: false});
	});
	$(function() {

  // We can attach the `fileselect` event to all file inputs on the page
  $(document).on('change', ':file', function() {
  	var input = $(this),
  	numFiles = input.get(0).files ? input.get(0).files.length : 1,
  	label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
  	input.trigger('fileselect', [numFiles, label]);
  });

  // We can watch for our custom `fileselect` event like this
  $(document).ready( function() {

  	$('select').material_select();

  	$(':file').on('fileselect', function(event, numFiles, label) {

  		var input = $(this).parents('.input-group').find(':text'),
  		log = numFiles > 1 ? numFiles + ' files selected' : label;

  		if( input.length ) {
  			input.val(log);
  		} else {
  			if( log ) alert(log);
  		}

  	});
  });
  
});

	$(document).ready(function(){
		var afterId = 0;
		var newId=1;
		$("#btnAddOption").click(function(){
			afterId++;
			newId=afterId+1;
			addSpot(this,afterId,newId);
		});
	});

	// Add new Journalists
	function addSpot(obj,afterId,newId)
	{  console.log("afterId: " + afterId);
	console.log("newId: " + newId);
	$('#vote_'+afterId).after(
		'<tr id="vote_'+newId+'" class="spot"><th>' + '</th>' +
		'<td><input type="text" id="txtInput_'+
		afterId+'" class="input-text" value="Put the name of Journalists here" size="40" name="journalist"/></td>'+
		'</tr>');
	//     $(":text[id^='txtInput_']").val("Put the name of Media Outlet here");

};

</script>




<div class="row">

	<div class="col s3">

		<div class="card">
			<div class="card-image">
				{% if request.user.picture %}
				<img src="{% url "get_photo" request.user %}" width="200px" class="circle responsive-img">
				{% else %}
				<img src="{% static "img/profile.png" %}" width="200px" class="circle responsive-img">
				{% endif %}
			</div>
			<div class="card-content blue-grey-text">
				{{request.user.first_name}}
				{{request.user.last_name}}
			</div>

			<div class="card-action">
				<a class="blue-grey-text" href="/">News</a>
			</div>

			<div class="card-action">
				<a class="blue-grey-text" href="{% url "manage_pitch" %}">Pitches</a>
			</div>

			<div class="card-action blue-grey">
				<a class="white-text" href="{% url "create_pitch" %}">Create Pitch</a>
			</div>
		</div>
	</div>

	<div class="col s9">
		<form method="post" action="{% url "create_pitch"%}">

			<div class="input-field">
				<input id="title" name="title" type="text" class="validate">
				<label for="title">Title</label>
			</div>

			<div class="input-field">
				<textarea id="content" name="content" class="materialize-textarea"></textarea>
				<label for="content">Description</label>
			</div>

			<div class="row">

				<div class="input-field col s6">
					<select multiple name="tags-list">
						<option value="" disabled selected>Tags</option>
						{%for tag in tags %}
						<option value="{{tag.id}}">{{tag}}</option>
						{% endfor%}
					</select>
					<label>Choose Tags</label>
				</div>

				<div class="input-field col s6">
					<input id="new_tag" name="new_tag" type="text" class="validate">
					<label for="new_tag">Enter a new tag</label>
				</div>

			</div>

			<p>
				<input type="checkbox" id="Embargo" name="Embargo" />
				<label for="Embargo">Embargo</label>
			</p>

			<p>
				<input type="checkbox" id="Scoop" name="Scoop" />
				<label for="Scoop">Scoop</label>
			</p>

			<table cellpadding=0 cellspacing=0 width="100%" class="table_form">
				<tr id="vote_1">
					<td><input type="button" id="btnAddOption" name="btnAddOption" class="btn btn-primary" value="Add Journalists"/></td>
				</tr>
			</table>

			 <button class="btn waves-effect waves-light" type="submit" name="publish_btn">Publish
			 <i class="material-icons right">send</i>
			 </button>

			 <button class="btn waves-effect waves-light" type="submit" name="save_btn">Save</button>
			 <button class="btn waves-effect waves-light" type="submit" name="cancel_btn">Cancel</button>
			{% csrf_token %}
		</form>
	</div>
</div>


{% endblock %}

