{% extends "kentparker/base.html"%}
{%load static%}
{% block content %}


    {% if form.errors %}
    {% for field in form %}
    {% for error in field.errors %}
    <div class="alert alert-danger">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <strong>Error!</strong> {{error}}}
    </div>
    {% endfor %}
    {% endfor %}

    {% for error in form.non_field_errors %}
    <div class="alert alert-danger">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <strong>Error!</strong> {{error}}}
    </div>
    {% endfor %}

    {% endif %}
    
	{% if form.picture.value %}
	<center>
    <img src="{% url "get_photo" name %}" width="200px">
  </center>
	{% endif %}

	<form enctype="multipart/form-data" action="{% url 'edit_profile' name %}" method="post">
      {% for field in edit_profile_form %}
      <div class="form-group">
      {{field.label_tag}}
      {{field}}
      </div>
      {% endfor %}
		<input class='btn' type="submit" value="Save">
		{% csrf_token %}
	</form>


{% endblock %}