<!DOCTYPE html>
<html lang="en">
<head>
	<title>Kent-Parker</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "/css/main.css" %}">

	<script>
		function updateTextArea() {
		    var allVals = [];
		    var allTagString="";
		    $('#upreferences input[type="checkbox"]:checked').each(function() {
		    	allVals.push($(this).val());
		    	allTagString += $(this).val()+"@";
		    });
		    $('#t').val(allTagString);
		    $('#myModal').modal('toggle')
		    window.location.replace("/journalist/"+allTagString);
		}
  	</script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">KENT PARKER</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="{% url "contacts" %}">Contacts</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url "logout" %}"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
    <div class="row profile">
		<div class="col-md-3">
			<div class="profile-sidebar">
				<!-- SIDEBAR USERPIC -->
				<div class="profile-userpic">
					{% if request.user.picture %}
					<img src="{% url "get_photo" request.user %}" width="200px" class="img-responsive">
					{% else %}
					<img src="{% static "img/profile.png" %}" width="200px" class="img-responsive">
					{% endif %}
				</div>
				<!-- END SIDEBAR USERPIC -->
				<!-- SIDEBAR USER TITLE -->
				<div class="profile-usertitle">
					<div class="profile-usertitle-name">
						{{request.user.first_name}}
						{{request.user.last_name}}
					</div>
					<div class="profile-usertitle-job">
						CMU
					</div>
				</div>
				<!-- END SIDEBAR USER TITLE -->
				<!-- SIDEBAR BUTTONS -->
				<div class="profile-userbuttons">
					<button type="button" class="btn btn-warning btn-sm" aria-label="Left Align" style="padding: 2px 3px;">
					  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
					  <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align" style="padding: 2px 3px;">
					  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
					  <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align" style="padding: 2px 3px;">
					  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
					  <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align" style="padding: 2px 3px;">
					  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
					  <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align" style="padding: 2px 3px;">
					  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
					</button>
				</div>
				<!-- END SIDEBAR BUTTONS -->
				<!-- SIDEBAR MENU -->
				<div class="profile-usermenu">
					<ul class="nav">
						<li>
							<a href="/">
							<i class="glyphicon glyphicon-home"></i>
							Favorite Tags</a>
						</li>
						<li>
							<a href="/bookmarked_pitch">
							<i class="glyphicon glyphicon-user"></i>
							Bookmarked Pitches </a>
						</li>
                        <li class="active">
							<a href="#">
							<i class="glyphicon glyphicon-book"></i>
							Embargoed Pitches </a>
						</li>
						<li>
							<a href="{% url "journalist_Articles" %}">
							<i class="glyphicon glyphicon-file"></i>
							My Articles </a>
						</li>
						<li>
							<a href="{% url "create_article" %}">
							<i class="glyphicon glyphicon-flag"></i>
							Publish Article </a>
						</li>
						<li>
							<!-- Button trigger modal
							<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
							 	Launch demo modal
							</button>
							-->
							<a href="#" data-toggle="modal" data-target="#myModal">
							<i class="glyphicon glyphicon-star"></i>
							My preferences </a>
							<!-- Modal -->
							<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
								<div class="modal-dialog" role="document">
							    <div class="modal-content">
							    	<div class="modal-header">
							        	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							        	<h4 class="modal-title" id="myModalLabel">Tags</h4>
							      	</div>
							    	<div class="modal-body">
							    		Select your preferences below:
							    		<br>
							    		<br>
									    <ul class="dropdown" id = "upreferences">
		  									<li>
		  										<input type="checkbox" value = "1">&nbsp;Business
		  										<input type="checkbox" value = "2">&nbsp;Entertainment
		  									</li>
		  									<li>
		  										<input type="checkbox" value = "3">&nbsp;National
		  										<input type="checkbox" value = "4">&nbsp;Politics
		  									</li>
		  									<li>
		  										<input type="checkbox" value = "5">&nbsp;World
		  										<input type="checkbox" value = "6">&nbsp;IT
		  									</li>
		  									<li>
		  										<input type="checkbox" value = "7">&nbsp;Health
		  									</li>
	  									</ul>
							    	</div>
							    	<div class="modal-footer">
							       		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							        	<button type="button" class="btn btn-primary" onclick =updateTextArea() >Save changes</button>
							    	</div>
							    	</div>
							  	</div>
							</div>
						</li>
					</ul>
				</div>
				<!-- END MENU -->
			</div>
		</div>
		<div class="col-md-9">
            <div class="profile-content">
			   	<div class="panel panel-primary">
      				<div class="panel-heading">Pitches</div>
      				<div class="panel-body">
						{%for pitch in embargo_pitches%}
						<div class="well well-lg">
							<p><a href="pitch_detail/{{pitch.id}}"> @{{pitch.title}}</a></p>
							<p>{{pitch.content}}</p>
							<p>{{pitch.pub_time}}</p>
							<p>{{pitch.id}}</p>
							{% for tag in pitch.tags.all %}
							<button class="btn btn-success">{{tag}}</button>
							{%endfor%}
						</div>
						{% endfor %}
      				</div>
   				 </div>
            </div>
		</div>
	</div>
</div>
<center>
</center>
<br>
<br>

</body>
</html>

