<!DOCTYPE html>
<html lang="en">
<head>
  <title>Kent-Parker</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static "/css/main.css" %}">
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">KENT PARKER</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Mail <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <div class="profile-usermenu-dropdown">
					<ul class="nav">
						<li class="active" style = "line-height: 5;">
							<a href="#">
							
							Overview </a>
						</li>
						<li>
							<a href="#">
							
							Account Settings </a>
						</li>
						<li>
							<a href="#" target="_blank">
							
							Tasks </a>
						</li>
						<li>
							<a href="#">
							
							Help </a>
						</li>
					</ul>
				</div>
          </ul>
        </li>
        <li><a href="#">Contacts</a></li>
        
      </ul>
      <ul class="nav navbar-nav navbar-right">
        
        <li><a href="{% url "logout" %}"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
  
<div class="container">
    <div class="row profile">
		<div class="col-md-3">
			<div class="profile-sidebar">
				<!-- SIDEBAR USERPIC -->
				<div class="profile-userpic">
					<img src="myphoto.jpeg" class="img-responsive" alt="">
				</div>
				<!-- END SIDEBAR USERPIC -->
				<!-- SIDEBAR USER TITLE -->
				<div class="profile-usertitle">
					<div class="profile-usertitle-name">
						{{request.user.first_name}}
						{{request.user.last_name}}
					</div>
					<div class="profile-usertitle-job">
						CMU
					</div>
				</div>
				<!-- END SIDEBAR USER TITLE -->
				<!-- SIDEBAR BUTTONS -->
				<div class="profile-userbuttons">
					<button type="button" class="btn btn-warning btn-sm" aria-label="Left Align" style="padding: 2px 3px;">
					  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
					  <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align" style="padding: 2px 3px;">
					  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
					  <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align" style="padding: 2px 3px;">
					  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
					  <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align" style="padding: 2px 3px;">
					  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
					  <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align" style="padding: 2px 3px;">
					  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
					</button>
				</div>
				<!-- END SIDEBAR BUTTONS -->
				<!-- SIDEBAR MENU -->
				<div class="profile-usermenu">
					<ul class="nav">
						<li>
							<a href="/">
							<i class="glyphicon glyphicon-home"></i>
							Related News </a>
						</li>
						<li>
							<a href="#">
							<i class="glyphicon glyphicon-user"></i>
							Related Pitches </a>
						</li>
						<li class="active">
							<a href="{% url "manage_pitch" %}">
							<i class="glyphicon glyphicon-ok"></i>
							Manage Pitches </a>
						</li>
						<li>
							<a href="{% url "create_pitch" %}">
							<i class="glyphicon glyphicon-pencil"></i>
							New Pitch </a>
						</li>
					</ul>
				</div>
				<!-- END MENU -->
			</div>
		</div>
		<div class="col-md-9">
            <div class="profile-content">
			   	<div class="panel panel-primary">
      				<div class="panel-heading">All Pitches</div>
      				{%for pitch in pitches%}
      				<div class="panel-body">
      					<p>{{pitch.title}}</p>
      					<p>{{pitch.content}}</p>
      					<p>{{pitch.pub_time}}</p>
      					<p>Publihshed: {{pitch.published}}</p>
      					{% for tag in pitch.tags.all %}
      					<button class="btn btn-success">{{tag}}</button>
      					{%endfor%}
      				</div>
      				{% endfor %}
   				 </div>
            </div>
		</div>
	</div>
</div>
<center>
</center>
<br>
<br>

</body>
</html>

