<!DOCTYPE html>
<html lang="en">
{% extends "kentparker/base.html"%}
{% load static %}


<script type="text/javascript">
  var geocoder;
  var map;
  var address ="San Diego, CA";
  function initialize() {
    geocoder = new google.maps.Geocoder();
    var latlng = new google.maps.LatLng(-34.397, 150.644);
    var myOptions = {
      zoom: 8,
      center: latlng,
    mapTypeControl: true,
    mapTypeControlOptions: {style: google.maps.MapTypeControlStyle.DROPDOWN_MENU},
    navigationControl: true,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
    if (geocoder) {
      geocoder.geocode( { 'address': address}, function(results, status) {
        if (status == google.maps.GeocoderStatus.OK) {
          if (status != google.maps.GeocoderStatus.ZERO_RESULTS) {
          map.setCenter(results[0].geometry.location);

            var infowindow = new google.maps.InfoWindow(
                { content: '<b>'+address+'</b>',
                  size: new google.maps.Size(150,50)
                });

            var marker = new google.maps.Marker({
                position: results[0].geometry.location,
                map: map, 
                title:address
            }); 
            google.maps.event.addListener(marker, 'click', function() {
                infowindow.open(map,marker);
            });

          } else {
            alert("No results found");
          }
        } else {
          alert("Geocode was not successful for the following reason: " + status);
        }
      });
    }
  }
{% block content %}


<div class="row">

  <div class="col s3">

    <div class="card">
      <div class="card-image">
        {% if request.user.picture %}
        <img src="{% url "get_photo" request.user %}" width="200px" class="circle responsive-img">
        {% else %}
        <img src="{% static "img/profile.png" %}" width="200px" class="circle responsive-img">
        {% endif %}
      </div>
      <div class="card-content blue-grey-text">
        {{request.user.first_name}}
        {{request.user.last_name}}
      </div>
      <div class="card-action blue-grey">
        <a class="white-text" href="/">Journalist</a>
      </div>
      <div class="card-action">
        <a class="blue-grey-text" href="{% url "mediaoutlet_articles" %}">Published Articles</a>
      </div>
    </div>
  </div>

<div class="col s9">

    <div id="main_area">
        <!-- Slider -->
        <div class="row">
            <div class="col-sm-7" id="slider-thumbs">
                <!-- Bottom switcher of slider -->
                <ul class="hide-bullets">

                    {%for journalist in journalists%}
                        <div class="well well-lg">
                       <p>{{journalist.username}}</p>
                       <p>{{journalist.email}}</p>
                       <p>{{journalist.organization}}</p>
                          {% for tag in journalist.tags.all %}
                             <button class="btn btn-success">{{tag}}</button>
                           {%endfor%}
                            <a class="thumbnail" id="carousel-selector-1"><img src="http://placehold.it/150x150&text=1"></a>
                        </div>
                   {% endfor %}

                </ul>
            </div>
            
            <!--/Slider-->
        </div>

    </div>
</div>
</div>
{% endblock %}


