{% extends "kentparker/base.html"%}
{% load static %}



{% block content %}
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>

<script type="text/javascript">
  var geocoder;
  var map;
  var address ="San Diego, CA";
  function initialize() {
    geocoder = new google.maps.Geocoder();
    var latlng = new google.maps.LatLng(-34.397, 150.644);
    var myOptions = {
      zoom: 8,
      center: latlng,
    mapTypeControl: true,
    mapTypeControlOptions: {style: google.maps.MapTypeControlStyle.DROPDOWN_MENU},
    navigationControl: true,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
    if (geocoder) {
      geocoder.geocode( { 'address': address}, function(results, status) {
        if (status == google.maps.GeocoderStatus.OK) {
          if (status != google.maps.GeocoderStatus.ZERO_RESULTS) {
          map.setCenter(results[0].geometry.location);

            var infowindow = new google.maps.InfoWindow(
                { content: '<b>'+address+'</b>',
                  size: new google.maps.Size(150,50)
                });

            var marker = new google.maps.Marker({
                position: results[0].geometry.location,
                map: map,
                title:address
            });
            google.maps.event.addListener(marker, 'click', function() {
                infowindow.open(map,marker);
            });

          } else {
            alert("No results found");
          }
        } else {
          alert("Geocode was not successful for the following reason: " + status);
        }
      });
    }
  }  

</script>
<div class="row">

  <div class="col s3">

    <div class="card">
      <div class="card-image">
        {% if request.user.picture %}
        <img src="{% url "get_photo" request.user %}" width="200px" class="circle responsive-img">
        {% else %}
        <img src="{% static "img/profile.png" %}" width="200px" class="circle responsive-img">
        {% endif %}
      </div>
      <div class="card-content blue-grey-text">
        {{request.user.first_name}}
        {{request.user.last_name}}
      </div>
      <div class="card-action">
        <a class="blue-grey-text" href="/">Journalists </a>
      </div>
      <div class="card-action blue-grey">
        <a class="white-text" href="/">Published Articles</a>
      </div>
    </div>
  </div>
<div class="col s9">
  {%if not articles%}
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">No Articles</span>
              <p>You don't have any articles!</p>
            </div>
        </div>
     {%endif%}

      {%for article in articles%}
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">{{article.title}}</span>
          <p>{{article.content}}</p>
          <br>
          {% for tag in article.tags.all %}
            <div class="chip">{{tag}}</div>
          {%endfor%}
        </div>
        <div class="card-action">
          Author:
                {%for eachauthor in article.author.all%}
                  {{eachauthor.first_name}} {{eachauthor.last_name}} <a href="profile/{{eachauthor}}">@{{eachauthor}}</a>
                {%endfor%}
          Newsmakers:
              {% for eachnewsmaker in article.newsmaker.all %}
              <a href="profile/{{eachnewsmaker}}">@{{eachnewsmaker}}</a>
              {%endfor%}      
                  <a>{{article.pub_time}}</a>
         </div>
              
      </div>
    {% endfor %}
  </div>
</div>

{% endblock %}

