{% extends "kentparker/base.html"%}
{%load static%}
{% block content %}
  {%if not request.user.email_verify %}
          <div class="card hoverable blue-grey darken-1">
            <div class="card-content white-text">
              <p>Please verify your email address</p>
            </div>
          </div>
  {% endif %}
  
 <div class="row">

      <div class="col s3">

       <div class="card hoverable">
            <div class="card-image">
            {% if request.user.picture %}
            <img src="{% url "get_photo" request.user %}" width="200px" class="circle responsive-img">
            {% else %}
			<img src="{% static "img/profile.png" %}" width="200px" class="circle responsive-img">
			{% endif %}
            </div>
            <div class="card-content blue-grey-text">
            	{{request.user.first_name}}
            	{{request.user.last_name}}
            </div>

            <div class="card-action blue-grey">
              <a class="white-text" href="/">News</a>
            </div>

            <div class="card-action">
              <a class="blue-grey-text" href="{% url "manage_pitch" %}">Pitches</a>
            </div>

            <div class="card-action">
              <a class="blue-grey-text" href="{% url "create_pitch" %}">Create Pitch</a>
            </div>

           <div class="card-action">
              <a class="blue-grey-text" href="{% url "view_journalists" %}">View Journalists</a>
            </div>
          </div>

      </div>

      <div class="col s9">

      {%if not related_articles%}
            <div class="card hoverable blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">No Articles</span>
              <p>You don't have related articles!</p>
            </div>
          </div>
      {%endif%}

      	{%for article in related_articles%}
        <div class="card hoverable blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">{{article.title}}</span>
              <p>{{article.content}}</p>
            </div>
            <div class="card-action">
              <a href="{% url "profile" article.author %}">{{article.author.first_name}} {{article.author.last_name}}</a>
            </div>
        </div>
		  {% endfor %}
          
      </div>

    </div>

{% endblock %}

