{% extends "kentparker/base.html"%}
{% load static %}
{% block content %}


    <div class="row">
    <!-- pitch detail -->
    <div class="col s8">

	<form method="post" action="{% url "reedit_pitch" cur_pitch.id %}">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">{{cur_pitch.title}}</span>
              {%if can_edit == True%}
              <p>
              <input id="pitch_content" name="pitch_content" type="text" class="materialize-textarea" value = "{{cur_pitch.content}}">
              </p>
              {%else%}
              <p>{{cur_pitch.content}}</p>
              {%endif%}
				<br>
              {% for tag in cur_pitch.tags.all %}
              <div class="chip">{{tag}}</div>
              {%endfor%}
          </div>

          <div class="card-action">
              {%if cur_pitch.published%}
              <a>Published</a>
              {%else%}
              <a>Draft</a>
              {%endif%}
              <a>{{cur_pitch.pub_time}}</a>
              <a href="{% url "profile" cur_pitch.author %}">By {{cur_pitch.author}}</a>
          </div>
			{%if can_edit == True%}
    			<input type="submit" name ="publish_pitch_btn" class="btn btn-primary" value="Publish Pitch">
				<input type="submit" name ="save_pitch_btn" class="btn btn-primary" value="Save Pitch">
			{%endif%}
			{% csrf_token %}
	    </form>
	    
          <div class="card-action">
          {%if picked_by%}
          Picked By
          <br>
            {%for journalist in picked_by%}
            <a href="{% url "profile" journalist %}"> @{{journalist}}</a>
            {% endfor %}
          {%else%}
            <a href="{% url "create_article" %} " class="btn">Publish Article</a>
          {% endif %}
          </div>

      {% ifnotequal request.user.user_type 1%}
      <div class="card-action">

        <form action="{% url 'bookmark_pitch' cur_pitch.id %}" method="post">
            {% if not already%}
            <button type="submit"  class='btn'>Bookmark</button>
            {% else %}
            <button type="submit"  class='btn'>Unbookmark</button>
            {% endif %}
            {% csrf_token %}
        </form>
      </div>
      {% endifnotequal %}

      <div class="card-action">
        <p>Pitch Responsiveness: {{pitch_responsiveness}}</p>
        <p>Pitch Worthiness: {{pitch_worthiness}}</p>
      </div>

      <!-- journalist rate pitch -->
      {%ifequal request.user.user_type 2%}
      {%if not invalid%}
      <div class="card-action">
         <form action="{% url "rate_pitch" cur_pitch.id request.user.username %}" method="post">
             <p class="range-field"><a>Responsiveness</a>
             <input type="range" name="rating_responsiveness" min="0" max="100" />
             </p>
             <p class="range-field"><a>Worthiness</a>
             <input type="range" name="rating_worthiness" min="0" max="100" />
             </p>
             <button type="submit"  class='btn'>Rate</button>
            {% csrf_token %}
        </form>
      </div>
      {%endif%}
      {%endifequal%}

    </div>
</div>

    <!-- pitch related news -->
      <div class="col s4">

            <hr style="height:3px;border:none;color:#333;background-color:#333;" />
            <h4>Related News</h4>
            {%for article in related_articles%}
            <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                    <span class="card-title"><a href="{% url "article_detail" article.id %}">{{article.title}}</a></span>
                    <p>{{article.content}}</p>
                </div>
                </div>
            </div>
          {%endfor%}
          <hr style="height:3px;border:none;color:#333;background-color:#333;" />
    </div>
    </div>

{% endblock %}