{% extends "kentparker/base.html"%}
{% load static %}
{% block content %}


    <div class="row">
    <!-- pitch detail -->
    <div class="col s8">

        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">{{cur_pitch.title}}</span>
              <p>{{cur_pitch.content}}</p>
				<br>
              {% for tag in cur_pitch.tags.all %}
              <div class="chip">{{tag}}</div>
              {%endfor%}
          </div>

          <div class="card-action">
              {%if cur_pitch.published%}
              <a>Published</a>
              {%else%}
              <a>Draft</a>
              {%endif%}
              <a>{{cur_pitch.pub_time}}</a>
              <a href="{% url "profile" cur_pitch.author %}">By {{cur_pitch.author}}</a>
          </div>

          {%if picked_by%}
          <div class="card-action">
			  Picked By
			  <br>
            {%for journalist in picked_by%}
            <a href="{% url "profile" journalist %}"> @{{journalist}}</a>
            {% endfor %}
        </div>
        {% endif %}

        <form action="{% url 'pitch_detail' cur_pitch.id %}" method="post">
            {% if not already%}
            <button type="submit"  class='btn'>Bookmark</button>
            {% else %}
            <button type="submit"  class='btn'>Unbookmark</button>
            {% endif %}
            {% csrf_token %}
        </form>
			<br>
			<a href="/create_article" class="btn">Publish Article</a>

    </div>
</div>

    <!-- pitch related news -->
      <div class="col s4">

            <hr style="height:3px;border:none;color:#333;background-color:#333;" />
            <h4>Related News</h4>
            {%for article in related_articles%}
            <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                    <span class="card-title"><a href="{% url "article_detail" article.id %}">{{article.title}}</a></span>
                    <p>{{article.content}}</p>
                </div>
                </div>
            </div>
          {%endfor%}
          <hr style="height:3px;border:none;color:#333;background-color:#333;" />
    </div>
    </div>

{% endblock %}