<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Kent Parker Application</title>

        <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{% static "css/font-awesome.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "css/form-elements" %}">
        <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
        
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <!-- Favicon and touch icons -->
        <link rel="shortcut icon" href="assets/ico/favicon.png">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">
    </head>


    <nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="container-fluid">
    <div class="navbar-header">
     <a class="navbar-brand" href="#"><span>Kent Parker</span></a>
     </div>
     <ul class="nav navbar-nav">
     <li class="active"><a href="#">Home</a></li>
     <li><a href="#">About</a></li>
     </ul>
     <ul class="nav navbar-nav navbar-right">
     <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
     <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
     </ul>
     </div>
     </nav>

    <body>
        <!-- Top content -->
        <div class="top-content">
        	
            <div class="inner-bg">
                <div class="container">
                	
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 text">
                            <h1>Registration - Media Outlet</h1>
                            <div class="description">
                            	<p>
	                            	Please fill in the form to successfully register
                            	</p>
                            </div>
                        </div>
                    </div>
                        	
                        	<div class="form-box">
                        		<div class="form-top">
	                        		<div class="form-top-left">
	                        			<h3>Sign up now</h3>
	                            		<p>Fill in the form below to get instant access:</p>
	                        		</div>
	                        		<div class="form-top-right">
	                        			<i class="fa fa-pencil"></i>
	                        		</div>
	                            </div>
	                            <div class="form-bottom">
				                    <form role="form" action="" method="post" class="registration-form">
				                        <div class="form-group">
				                        	<label for="form-address">Address</label>
				                        	<input type="text" name="form-address" placeholder="Where is your business" class="form-address form-control" id="form-address">
				                        </div>
				                        <div class="form-group">
				                        	<label for="form-website">Website</label>
				                        	<input type="text" name="form-website" placeholder="Your business website" class="form-website form-control" id="form-website">
				                        </div>
				                        <div class="form-group">
				                        	<label for="form-phone">Phone Number</label>
				                        	<input type="text" name="form-phone" placeholder="Your contact number" class="form-phone form-control" id="form-phone">
				                        </div>
				                        <div class="form-group">
				                        	<label for="form-skype">Skype ID</label>
				                        	<input type="text" name="form-skype" placeholder="Your Skype ID" class="form-skype form-control" id="form-skype">
				                        </div>
				                        <div class="form-group">
				                        	<label for="form-twitter">Twitter ID</label>
				                        	<input type="text" name="form-twitter" placeholder="Your Twitter ID" class="form-twitter form-control" id="form-twitter">
				                        </div>
				                        <div class="form-group">
  											<label for="form-employees" >Number of employees:</label>
 											<select class="form-control" id="sel1">
    											<option>10-50</option>
    											<option>50-100</option>
    											<option>100-1000</option>
    											<option>1000 or more</option>
  											</select>
										</div>
										<div class="form-group">
  											<label for="form-industry" >Industry:</label>
 											<select class="form-control" id="sel1">
    											<option>Technology</option>
    											<option>Food</option>
    											<option>Healthcare</option>
    											<option>Shop</option>
  											</select>
										</div>
										<div class="form-group">
  											<label for="form-acctype" >Account Type:</label>
 											<select class="form-control" id="sel1">
    											<option>Public</option>
    											<option>Private</option>
  											</select>
										</div>
										<div class="form-group">
  											<label for="form-acctype" >How did you find Kent Parker:</label>
 											<select class="form-control" id="sel1">
    											<option>Social Media</option>
    											<option>LinkedIn</option>
    											<option>News</option>
    											<option>Other</option>
  											</select>
										</div>
										<div class="form-group">
											<label class="form-control btn btn-success btn-file">
    											Upload Profile Picture <input type="file" style="display: none;">
											</label>
										<div>
										
										<br />
				                        <button type="submit" class="btn">Sign me up!</button>
				                    </form>
			                    </div>
                        	</div>
                        	
                        </div>
                    </div>
                    
                    <br />
                    <br />
                    
                    <div class="row">
                        <div class="col-sm-5">
                        	
                        	</div>
                                <div class="col-lg-12 scrollpoint sp-effect7">
                                    
                                <h2 class="text-center" id="fmo">FOR MEDIA OUTLETS</h2>
                                   <div class="col-lg-3">
                                       <h4 class="hiw red">CREATE A PROFILE</h4>
                                       <img src="img/1.png" class="img-responsive center-block">
                                       <p class="text-center">Create a profile- with your media outlet's history and contact information</p>
                                   </div>
                                   <div class="col-lg-3">
                                       <h4 class="hiw red">CATEGORIZE CONTENT</h4>
                                       <img src="img/2.png" class="img-responsive center-block">
                                       <p class="text-center">Categorize your media outlet based on your departments</p>
                                   </div>
                                   <div class="col-lg-3">
                                       <h4 class="hiw red">SEARCH</h4>
                                       <img src="img/4.png" class="img-responsive center-block">
                                       <p class="text-center">Search relevant news nuggets for valuable content</p>
                                   </div>
                                   <div class="col-lg-3">
                                       <h4 class="hiw red">PUBLISH CONTENT</h4>
                                       <img src="img/3.png" class="img-responsive center-block">
                                       <p class="text-center">Publish content your media outlet subscribers want</p>
                                   </div>
                                
                                </div>
	                        
                        </div>
                </div>
            </div>
            
        </div>
		<br />
        <!-- Footer -->
        <footer>
        	<div class="container">
        		<div class="row">
        			
        			<div class="col-sm-8 col-sm-offset-2">
        				<div class="footer-border"></div>
        				<p>Made by Kent Parker at <a href="http://www.cmu.edu/" target="_blank"><strong>CMU</strong></a> 
        				</p>
        				<p class="rights">
                            © 2016 <span>KENT</span> Parker All Rights Reserved.
                        </p>
        			</div>
        			
        		</div>
        	</div>
        </footer>

        <!-- Javascript -->
        <script src="assets/js/jquery-1.11.1.min.js"></script>
        <script src="assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="assets/js/scripts.js"></script>
        
        <!--[if lt IE 10]>
            <script src="assets/js/placeholder.js"></script>
        <![endif]-->

    </body>

</html>